@font-face {font-family:OpenSans;src:url("../fonts/OpenSans-Regular.ttf");}
*{box-sizing:border-box;font-family:'OpenSans',sans-serif;}
html,body{padding:0px;margin:0px;width:100%;height:100%;}
a,a:active{text-decoration:none;color:inherit;}
header{position:fixed;z-index:5;width:100%;height:60px;background-color:white;box-shadow:0px 0px 8px #666666;}
#logo_topo{float:left;margin-left:20px;height:36px;padding:12px;}
#logo_topo img{height:36px;}
form{width:100%;height:100%;}
#topo{float:left;margin-top:60px;height:calc(100% - 60px);width:100%;background-position:center;background-size:cover;}
#fundo_topo{display:table;width:100%;min-height:100%;background-color:rgba(0,0,0,0.6);color:white;}
#content_topo{display:table-cell;vertical-align:middle;text-align:center;}
#title{font-size:4em;margin-bottom:2%;font-weight:bold;}
#date{font-size:1.5em;margin-bottom:1%;}
#autor{font-size:1.3em;}
#arrow{position:absolute;bottom:1%;width:100px;height:100px;left:calc(50% - 50px);}
#arrow img{width:100px;}
#texto{float:left;width:100%;margin-top:2%;margin-bottom:2%;}
#conteudo{width:1024px;margin:0px auto;font-size:1.1em;line-height:2em;}
#conteudo p{margin-bottom:3%;text-indent:4em}
#comentario{width:1024px;margin:0px auto;}

input[type=text]{border:2px solid #652C90;padding:1%;background-color:rgba(0,0,0,0.5);text-align:center;border-radius:20px;}
#topo input[type=text]{color:white;}
textarea{border:1px solid #652C90;font-size:1.1em;line-height:2em;padding:1%;text-align:left;color:black;}
input[type=submit],input[type=button]{cursor:pointer;float:right;border:1px solid #652C90;padding:8px 32px 8px 32px;border-radius:5px;margin-top:12px;margin-right:20px;color:#652C90;background:white;transition:background 0.5s, color 0.5s;}
input[type=submit]:hover,input[type=button]:hover{background:#652C90;color:white;}
input, textarea{font-size:1em;}
textarea{resize:none;height:500px;width:100%;color:black;text-align:left;}
input[type=text]:focus,textarea:focus{outline:none;border:4px solid #652C90;margin-left:-2px;margin-top:-2px;}
input[type=submit]:focus,input[type=button]:focus{outline:none;}
#input_file {width: 0.1px;height: 0.1px;opacity: 0;overflow: hidden;position: absolute;z-index: -1;}
#label{position:absolute;width:100%;text-align:center;background-color:rgba(0,0,0,0.5);padding:16px;font-size:1.5em;}
#label label{cursor:pointer;}

#tags{float:left;width:100%;}
#content_tags{width:1024px;margin:0px auto;}
#content_tags #title_tags{font-size:1.5em;padding-bottom:32px;width:100%;border-bottom:1px solid #666666;margin-bottom:16px;}
#content_tags input{float:left;border:1px solid #652C90;padding:8px;background-color:transparent;text-align:left;border-radius:10px;width:50%;}
#content_tags input:focus{outline:none;border:2px solid #652C90;margin-left:-1px;margin-top:-1px;}
#content_tags #btn_add_tag{cursor:pointer;float:left;border:1px solid #652C90;padding:8px 32px 8px 32px;border-radius:5px;margin-left:12px;color:#652C90;background:white;transition:background 0.5s, color 0.5s;}
#content_tags #btn_add_tag:hover{background:#652C90;color:white;}
#content_tags #quadro_tags{float:left;width:calc(100% - 16px);border:1px solid #666666;border-radius:10px;margin-top:12px;max-height:300px;overflow-y:auto;padding:8px;}
.tag{display:inline-block;margin:8px 4px 8px 4px;padding:4px 16px 4px 16px;border-radius:50px;background-color:#652C90;color:white;cursor:pointer;}
.tag .opc_tag{width:44px;float:right;overflow:hidden;white-space:no-wrap;transition:width 0.5s;}
.tag .opc_tag img{float:left;height:20px;margin-left:24px;}

footer{float:left;width:100%;background-color:black;color:white;margin-top:3%;}
#rodape #social{float:left;margin-top:2%;}
#rodape #social img{height:48px;}
#rodape #copyright{float:left;width:100%;text-align:center;margin-top:1%;margin-bottom:2%;}
